@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rounded-t-3xl {
  border-top-right-radius: 6rem;
  border-top-left-radius: 6rem;
}

.flex {
  display: flex;
  flex-direction: ("flex-col", "md:flex-row");
}
