.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/top-view-delicious-pastry-concept.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.h1 {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    padding: 20px;
    text-shadow: 3px 3px 5px black;
    z-index: 2;
    text-transform: uppercase;
}


@media (max-width: 1024px) {
    .h1 {
        font-size: 48px;
        padding: 15px;
    }
}


@media (max-width: 768px) {
    .hero {
        height: 80vh;
    }
    
    .h1 {
        font-size: 32px;
        padding: 10px;
    }
}


@media (max-width: 480px) {
    .hero {
        height: 70vh;
    }
    
    .h1 {
        font-size: 24px;
        padding: 10px;
    }
}
